<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NLog" version="4.5.3" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.3" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.3" targetFramework="net461" />
  <package id="PostSharp" version="5.0.51" targetFramework="net461" developmentDependency="true" />
  <package id="PostSharp.Redist" version="5.0.51" targetFramework="net461" />
</packages>